<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="news-list">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>News List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="news-search">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>News Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create-article">
      <ion-icon name="square"></ion-icon>
      <ion-label>Create Article</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
