<ion-content>
  <ion-list>


    <ion-card *ngFor="let article of articleList">
      <a [routerLink]="['/cycleau-news/show-article', article.id]">
        <ion-img [src]="assetPath + article.illustration.file"></ion-img>
      </a>
      <ion-card-header>
        {{ article.title }}
      </ion-card-header>
    </ion-card>


  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event, page)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
